:root {
  --negro: #1a1417;
  --gris: #7c8381;
  --blanco: #d9cbae;
  --marron: #67413a;
  --verde: #8db35e;
  --acento1: #af4b3b;
  --acento3: #c18549;
  --acento2: #384d64;
}
body {
  background-color: var(--negro);
  color: var(--blanco);
  text-align: center;
}

table {
  margin: auto;
  border-collapse: collapse;
  background-color: var(--marron);
}

td {
  width: 40px;
  height: 40px;
}
tr {
  background-image: url("../assests/images/floor.png");
  background-size: contain;
  background-blend-mode: hard-light;
  background-color: var(--marron);
}

h1 {
  font-size: large;
}

.soldier {
  background-image: url("../assests/images/soldier.png");
  background-size: contain;
  background-color: var(--acento2);
  border-radius: 100%;
}

.hunter {
  background-image: url("../assests/images/hunter.jpeg");
  background-size: contain;
  border-radius: 100%;
}

.vagabond {
  background-image: url("../assests/images/vagabond.jpeg");
  background-size: contain;
  border-radius: 100%;
}

.dummy {
  background-color: var(--acento3);
}

.wall {
  background-image: url("../assests/images/wall.png");
  background-size: contain;
  background-color: var(--gris);
}

.sword {
  background-image: url("../assests/images/sword.png");
  background-size: contain;
  background-color: var(--acento3);
  border-radius: 100%;
}

.trap {
  background-image: url("../assests/images/trap.png");
  background-size: contain;
  background-color: var(--acento3);
}

.spawn {
  background-image: url("../assests/images/spawn.png");
  background-size: contain;
  background-color: var(--acento1);
}

.clang {
  background-image: url("../assests/images/explosion.png");
  background-size: contain;
  background-color: var(--acento3);
}
.boom {
  background-image: url("../assests/images/dead.png");
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
}
